html, body {
	margin: 0;
	padding: 0;
	background: #333;
	font-family: 'Press Start 2P', cursive;
}

h1, h2 {
	color: #00FF00;
}

h1 {
	text-align: center;
}

form {

}

button {

}

#wrapper {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-around;
}

#game {
	box-sizing: border-box;
	border: 1px solid #ba000d;
	width: 502px;
	margin: 20px 0;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
}

#presets {

}

.cell {
	width: 25px;
	height: 25px;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid #ba000d;
}

.cell-on {
	background: #ba000d;
	border: 1px solid #333;
}
