html, body {
	margin: 0;
	padding: 0;
	background: #333;
	font-family: 'Quicksand', sans-serif;
}

h1, h2 {
	color: #00FF00;
	margin: 30px 0;
	font-family: 'Press Start 2P', cursive;
}

h1 {
	text-align: center;
}

h2 {
	font-size: 14px;
}

form {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-around;
	width: 75%;
	margin: 0 auto;

}

form #buttons {
	flex: 2;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-evenly;
}

form #speedControls {
	flex: 1;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-evenly;
}

button {
	cursor: pointer;
	background: #222;
	color: #00FF00;
	border: none;
	font-size: 16px;
	padding: 15px 20px;
}

button:hover {
	color: #fff;
}

button:focus {
	outline: none;
}

p#speedDisplay {
	color: #00FF00;
}

#wrapper {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-around;
}

#gameWrapper {
	flex: 1;
}

#game {
	box-sizing: border-box;
	width: 540px;
	margin: 20px 0;
	padding: 20px;
}

#info {
	padding-top: 20px;
	flex: 1;
}

#info p {
	color: #fff;
}

.cell {
	width: 25px;
	height: 25px;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid #ba000d;
	margin-bottom: -5px;
	margin-right: -1px;
}

.cell-on {
	background: #ba000d;
}

#presets a, #presets a:link, #presets a:visited {
	color: #00FF00;
}

#presets a:hover, #presets a:active, #presets a:focus {
	text-decoration: none;
}
